.THIS .customRequired{
 font-weight: 400; } .THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } 

.THIS .slds-coordinates{
display: none;
flex-wrap: wrap;
max-height: 41.25rem;
max-width: 20rem;
}

.THIS .slds-map_container{
max-width: 20rem;
}